    body {
     margin: 0;
     background-color: black;
     color: green;
     font-family: verdana;
    }

    div#nbar {
        background-color: gray;       
    }

    ul.nav {
     width: fit-content;
     margin: 0 auto;
     padding: 0;
    }

    ul.nav li {
     display: inline-block;
     list-style-type: none;
    }

    ul.nav li a {
     display: block;
     text-align: center;
     text-decoration: none;
     color: blue;
     padding: 1em;
    } 

    ul.nav li a:active, ul.nav li a:hover {
     background-color: green;   
    }

   #content {
     margin: 8px;
   }

    h1 {
     color: green;
     font-family: verdana;
    }  
     
    h4 {
     color: green;
     font-family: verdana;
    }  
   a.Link {
     background-color: green;
     color: black;
     padding: 5px 5px;
     text-decoration: none;
     display: inline-block;
     text-align: center;
     border-radius: 25px;
    }
    
    a.Link:hover, a.Link:visited {
     background-color: darkgreen;
     color: black;
    }
    
    a.noStyleLink {
     text-decoration: none;
    }
     
    button {
      background-color: green;
      color: black;
      border-radius: 15px;
      padding: 5px 5px;
      border: none;
    }
    
   button:hover, button:active {
      background-color: darkgreen;
      color: black;
      border-radius: 15px;
      padding: 5px 5px;
     border: none;
   }
